<%- include ('partials/header') %>
<!-- Header-->
<% if (user) { %>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container px-4 px-lg-5">
			<a class="navbar-brand" href="/">Dream Sandwiches</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
					<li class="nav-item"><a class="nav-link " aria-current="page" href="/">Home</a></li>
					<li class="nav-item"><a class="nav-link active" href="/sandwiches">Shop</a></li>
					<li class="nav-item"><a class="nav-link " href="/franchise">Franchise</a></li>
				</ul>
				<form class="d-flex" action="/cart" method="GET">
                    <button class="btn btn-outline-light" type="submit">
                        <i class="bi-cart-fill me-1"></i>
                        Cart
                        <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                    </button>
                </form>
				
                <div class="btn-group">
                    <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-person-fill"></i> <%= userDetails.name %>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/logout">Logout</a></li>
                    </ul>
                  </div>
				
			</div>
		</div>
	</nav>
        
<% } else { %>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="/">Dream Sandwiches</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item"><a class="nav-link " aria-current="page" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link active" href="/sandwiches">Shop</a></li>
                    <li class="nav-item"><a class="nav-link " href="/franchise">Franchise</a></li>
                </ul>
                <form class="d-flex">
                    <div class="text-center"><a class="btn btn-outline-light mt-auto" href="/login">Login</a></div>
                </form>
                
            </div>
        </div>
    </nav>
<%} %>
<main class="flex-shrink-0">
    <section class="py-5">
        <div class="container px-5 my-5">
            <div class="text-center mb-5">
                <h1 class="fw-bolder">Your Shopping Cart</h1>
                <p class="lead fw-normal text-muted mb-0">Add items to your cart</p>
            </div>
            <div class="row gx-5">
                <div class="col-xl-8">
                    <!-- FAQ Accordion 1-->
                    <h2 class="fw-bolder mb-3">Items in your cart</h2>
                    <div class="accordion mb-5" id="accordionExample">
                        <% var total_cost = 0;
                            cartItems.forEach(function(cartItem){ 
                            var name, price, description;
                            sandwiches.forEach(function(sandwich) {
                                if(sandwich._id == cartItem.item_id) {
                                    name = sandwich.name;
                                    price = sandwich.price;
                                    description = sandwich.description;
                                    
                                }
                            })
                            total_cost += price * cartItem.quantity;%>
                        <div class="accordion-item">
                            <h3 class="accordion-header" id="headingOne"><button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne"><%=name %></button></h3>
                            <div class="accordion-collapse collapse show" id="collapseOne" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    
                                    <div class="row">
                                        <div class="col">
                                            <h6><%= description %></h6>
                                        </div>
                                        <div class="col">
                                            <strong>Quantity</strong>
                                            <input type="text" id="pin" value = "<%= cartItem.quantity%>" name="pin" maxlength="4" size="4">
                                        </div>
                                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                        <form action="/cart/<%= cartItem._id %>?_method=DELETE" method="POST">
                                            <button class="btn btn-danger" type="submit">Remove from Cart</button>
                                        </form>
                                          
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }); %>
                       
                <div class="col-xl-4">
                    <div class="card border-0 bg-light mt-xl-5">
                        <div class="card-body p-4 py-lg-4">
                        
                            <div class="d-flex align-items-center justify-content-center">
                                <div class="text-left">
                                    <div class="h6 fw-bolder">Total Amount : $<%= total_cost %></div>
                                </div>
                            </div>
                            <form action="/checkout/<%= total_cost %>" method="POST">
                                <div class="d-grid gap-2 mx-auto">
                                    
                                    <button class="btn btn-warning" type="submit">Checkout</button>
                                
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>


<%- include ('partials/footer') %>