<%- include ('partials/header') %>
<!-- Header-->
<% if (user) { %>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container px-4 px-lg-5">
			<a class="navbar-brand" href="/">Dream Sandwiches</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
					<li class="nav-item"><a class="nav-link " aria-current="page" href="/">Home</a></li>
					<li class="nav-item"><a class="nav-link active" href="/sandwiches">Shop</a></li>
					<li class="nav-item"><a class="nav-link" href="/franchise">Franchise</a></li>
				</ul>
				<form class="d-flex" action="/orderHistory" method="GET">
                    <button class="btn btn-outline-light" type="submit">
                        Order History
                    </button>
                </form>
				&nbsp;
                <form class="d-flex" action="/cart" method="GET">
                    <button class="btn btn-outline-light" type="submit">
                        <i class="bi-cart-fill me-1"></i>
                        Cart
                        
                    </button>
                </form>
				<% if(user.username == "admin@dreamsandwich.com") { %>
					&nbsp;
					<form class="d-flex" action="/sandwiches/new" method="GET">
						<button class="btn btn-outline-light" type="submit">
							Add Sandwich
							
						</button>
					</form>
				<% } %>
				
                <div class="btn-group">
                    <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-person-fill"></i> <%= userDetails.name %>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/logout">Logout</a></li>
                    </ul>
                  </div>
				
			</div>
		</div>
	</nav>
        
<% } else { %>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container px-4 px-lg-5">
		<a class="navbar-brand" href="/">Dream Sandwiches</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
				<li class="nav-item"><a class="nav-link " aria-current="page" href="/">Home</a></li>
				<li class="nav-item"><a class="nav-link active" href="/sandwiches">Shop</a></li>
				<li class="nav-item"><a class="nav-link" href="/franchise">Franchise</a></li>
			</ul>
			<form class="d-flex">
				<div class="text-center"><a class="btn btn-outline-light mt-auto" href="/login">Login</a></div>
			</form>
			
		</div>
	</div>
</nav>
<%} %>
<header class="bg-dark py-5">
	<div class="container px-4 px-lg-5 my-5">
		<div class="text-center text-white">
			<h1 class="display-4 fw-bolder">Handcrafted for you</h1>
			<p class="lead fw-normal text-white-50 mb-0">Choose from our wide range of varieties</p>
		</div>
	</div>
	<form class="row mt-2">
		
		<div class="col-md-9">
			<input type="text" id="searchBar" name="title" onkeyup="keyUpFunc()" class="form-control" placeholder="Search Sandwiches">
		</div>
		<div class="col-md-3">
			<select name="flavor" id="flavor" class="form-control" onchange="changeFunc();">
				<option value="">All Flavours</option>
				<option value="Chicken">Chicken</option>
				<option value="Pork">Pork</option>
				<option value="Turkey">Turkey</option>
			</select>
		</div>
	</form>
</header>
<!-- Section-->

<<section class="py-5">
	<div class="container px-4 px-lg-5 mt-5">
		<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
			<% results.forEach(function(sandwich){ 
				if(!sandwich.isDeleted){%>
				<div class="col mb-5" id="<%= sandwich._id %>">
					<div class="card h-100">
						<!-- Product image-->
						<img class="card-img-top" src="images/<%= sandwich.image %>" alt="<%= sandwich.name %>" />
						<!-- Product details-->
						<div class="card-body p-4">
							<div class="text-center">
								<!-- Product name-->
								<h5 class="fw-bolder"><%= sandwich.name %></h5>
								<!-- Product price-->
								$<%= sandwich.price %>
							</div>
						</div>
						<!-- Product actions-->
						<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
							<div class="text-center"><a class="btn btn-dark mt-auto" href="/sandwiches/<%= sandwich._id %>">View options</a></div>
						</div>
						
					</div>
				</div>
			<% }}); %>
		</div>
	</div>
</section>

<%- include ('partials/footer') %>

<script>
	var temp = <%- JSON.stringify(results) %>;
	var sandwichList = temp.map(function(sandwich) {
  			return sandwich.name;
	});
	
	function changeFunc() {
		sandwichList = [];
		var select = document.getElementById("flavor");
		var selectedValue = select.options[select.selectedIndex].value;
		selectedValue = selectedValue.toLowerCase();
		
		temp.forEach(function(sandwich) {
			
			if(sandwich.ingredients.includes(selectedValue) || selectedValue == "") {
				document.getElementById(sandwich._id).style.display = "block";
				sandwichList.push(sandwich.name);
			}
			else {
				document.getElementById(sandwich._id).style.display = "none";
			}
		})
		
;	}
	
	function keyUpFunc() {
		input = document.getElementById('searchBar');
  		filter = input.value.toUpperCase();
		temp.forEach(function(sandwich) {
			
			if(sandwich.name.toUpperCase().indexOf(filter) > -1 && sandwichList.includes(sandwich.name)) {
				document.getElementById(sandwich._id).style.display = "block";
				
			}
			else {
				document.getElementById(sandwich._id).style.display = "none";
			}
		})
	}
</script>
