<%- include ('partials/header') %>
<% if (user) { %>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container px-4 px-lg-5">
			<a class="navbar-brand" href="/">Dream Sandwiches</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
					<li class="nav-item"><a class="nav-link " aria-current="page" href="/">Home</a></li>
					<li class="nav-item"><a class="nav-link active" href="/sandwiches">Shop</a></li>
					<li class="nav-item"><a class="nav-link" href="/franchise">Franchise</a></li>
				</ul>
				<form class="d-flex" action="/orderHistory" method="GET">
                    <button class="btn btn-outline-light" type="submit">
                        Order History
                    </button>
                </form>
                <form class="d-flex" action="/cart" method="GET">
                    <button class="btn btn-outline-light" type="submit">
                        <i class="bi-cart-fill me-1"></i>
                        Cart
                        
                    </button>
                </form>
				
                <div class="btn-group">
                    <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-person-fill"></i> <%= userDetails.name %>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/logout">Logout</a></li>
                    </ul>
                  </div>
				
			</div>
		</div>
	</nav>
        
<% } else { %>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/">Dream Sandwiches</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link" aria-current="page" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link active" href="/sandwiches">Shop</a></li>
                <li class="nav-item"><a class="nav-link" href="/franchise">Franchise</a></li>
            </ul>
            <form class="d-flex">
                <div class="text-center"><a class="btn btn-outline-light mt-auto" href="/login">Login</a></div>
            </form>
            
        </div>
    </div>
</nav>
<%} %>
<!-- Product section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="/images/<%= sandwich.image %>" alt="<%= sandwich.name %>" /></div>
            <div class="col-md-6">
                <h1 class="display-5 fw-bolder"><%= sandwich.name %></h1>
                <div class="fs-5 mb-5">
                    <span>$<%= sandwich.price %></span>
                </div>
                <p class="lead"><%= sandwich.description%></p>
                <div class="d-flex">
                    
                    <% if(user && user.username == "admin@dreamsandwich.com") {%>
                        <form action="/sandwiches/<%= sandwich._id %>?_method=DELETE" method="POST">

                            <button type="submit" class="btn btn-danger">Delete Sandwich</button>
                            
                            </form>
                    <% } else {
                        if(user) {%>
                        <form action="/sandwiches/addToCart/<%= sandwich._id %>" method="POST">
                            <input class="form-control text-center me-3" id="quantity" name="quantity" type="num" value="1" style="max-width: 3rem" />
                            <button class="btn btn-outline-dark flex-shrink-0" type="submit">
                                <i class="bi-cart-fill me-1"></i>Add to cart
                            </button>
                        </form>
                    <% } else {%>
                        <form action="/login%>" method="GET">
                            <input class="form-control text-center me-3" id="quantity" name="quantity" type="num" value="1" style="max-width: 3rem" />
                            <button class="btn btn-outline-dark flex-shrink-0" type="submit">
                                <i class="bi-cart-fill me-1"></i>Add to cart
                            </button>
                        </form>
                    <% }} %>    
                    <div class="text-center "><a class="btn btn-outline-dark flex-shrink-0 mx-auto mt-auto" href="/sandwiches">Back</a></div>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include ('partials/footer') %>